<h3>Highest bid</h3>
  <div id= "bid-form">
    <div class="row collapse">
      <div class="small-2 columns"><span class="prefix">$</span></div>
      <div class="small-10 columns"><%= text_field_tag :nothing, item.highest_bid_amount, disabled: true %></div>
    </div>

    <%= form_for bid, remote: true do |f| %>
      <%= render partial: "bid_form", locals: {f: f} %>
    <% end %>
</div>
